In [1]:
#Dependencies:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import pprint as pprint

In [2]:
# Name of the CSV file:
kaggle_file = "../Resources/universities.csv"
insti_file = "../Resources/cc_institution_details.csv"

In [3]:
#Reading the csv file:
uni_df = pd.read_csv(kaggle_file)
uni_df.head()

,Unnamed: 0,rankingNoteText,nonResponderText,nonResponder,act_avg,primaryPhoto,primaryPhotoThumb,sat_avg,enrollment,city,...,schoolType,region,aliasNames,rankingType,overallRank,institutionalControl,rankingMaxPossibleScore,rankingRankStatus,primaryKey,univ_rank
0,1,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_31291...,https://www.usnews.com/img/college-photo_31291...,1400.0,5400.0,Princeton,...,national-universities,NaN,NaN,national-universities,1,private,NaN,ranked,2627,1.0
1,2,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_8866.jpg,https://www.usnews.com/img/college-photo_8866_...,1430.0,6710.0,Cambridge,...,national-universities,NaN,NaN,national-universities,2,private,NaN,ranked,2155,2.0
2,3,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/5b128f0/17...,https://www.usnews.com/dims4/USNEWS/196469f/17...,1450.0,5941.0,Chicago,...,national-universities,NaN,UChicago,national-universities,3,private,NaN,ranked,1774,3.0
3,4,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/60348dd/17...,https://www.usnews.com/dims4/USNEWS/1ca230f/17...,1420.0,5472.0,New Haven,...,national-universities,NaN,NaN,national-universities,3,private,NaN,ranked,1426,3.0
4,5,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_19002...,https://www.usnews.com/img/college-photo_19002...,1430.0,6113.0,New York,...,national-universities,NaN,NaN,national-universities,5,private,NaN,ranked,2707,5.0

In [4]:
new_uni_df = uni_df[["sortName",
                    "city",
                    "state",
                    "rankingSortRank",
                    "act_avg",
                    "sat_avg",
                    "acceptance_rate",
                    "engineeringRepScore",
                    "businessRepScore",
                    "tuition"]]
new_uni_df.head()

,sortName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition
0,princetonuniversity,Princeton,NJ,1,32.0,1400.0,7.0,4.1,NaN,47140
1,harvarduniversity,Cambridge,MA,2,32.0,1430.0,5.0,3.6,NaN,48949
2,universityofchicago,Chicago,IL,3,32.0,1450.0,8.0,NaN,NaN,54825
3,yaleuniversity,New Haven,CT,3,32.0,1420.0,6.0,3.4,NaN,51400
4,columbiauniversity,New York,NY,5,32.0,1430.0,6.0,3.8,NaN,57208

In [5]:
#Reading the csv file:
insti_df = pd.read_csv(insti_file)
insti_df.head()

FileNotFoundError: File b'../Resources/cc_institution_details.csv' does not exist